html, body {
  max-width: 1200px;
  margin: auto;
  font-size: 12px;
  background-color: #36454f;
  font-family: 'Muli', serif;
}

.navbar-offset {
  margin-top: 50px;
}

.header-row {
  margin-top: 50px;
  text-align: center;
  /*padding: 2rem;*/
  border-bottom: 1px solid #ccc;
  color: #ffffff;
  height: 8rem;
  width: 100%;
  max-width: 1200px;
  /* position: fixed; */
  top: 0;
  z-index: 1;
  background-color: #36454f;
}

#name {
  font-size: 3rem;
  margin: 3rem;
}

.content-row {
  margin: 10px 60px;
}

.content-row .col-sm-12 .row .map {
  margin: 2rem 0;
}

img {
  width: 100%;
  height: 100%;
  text-align: center;
}

/* This is the navbar css */
.navbar-brand {
  font-size: 22px;
  position: absolute;
  bottom: 0;
}

.link-icon {
  height: 28px;
}

.navbar-right {
  float: right;
}

.navbar-title {
  font-size: 30px;
  color: #008080;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  display: block;
  text-align: center;
}

.navbar-right li:hover {
  background-color: #66b2b2;
  color: white;
  cursor: pointer;
}
/* ********************** */

.map-explain-small {
  color: #cccccc;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.map-explain-big {
  font-size: 1.6rem;
}

.map-content {
  color: #eeeeee;
  border-bottom: 1px solid #eee;
  padding: 2rem 0 2rem 0;
}
